# prevent directory listings
Options -Indexes
IndexIgnore */*

# follow symbolic links
Options FollowSymlinks
RewriteEngine on

# Advanced redirect settings
RewriteRule ^admin(/.+)?$ web/backend/web/$1 [L,PT]
RewriteRule ^(.+)?$ web/frontend/web/$1